body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.إطارات_اطار-نص-التبويب {
	border-style:solid;
}
div.محاذاة_محاذاة-يسار---inline {
	border-style:solid;
}
img.محاذاة_محاذاة-يمين-في-خلية {
	border-style:solid;
	background-color:#006991;
}
table.Basic-Table {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Basic-Table, th.Basic-Table {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
table.No-Table-Style {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.No-Table-Style, th.No-Table-Style {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td.بدون-حدود {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	vertical-align:middle;
}
td.ترويسة-جدول-المحتويات {
	background-color:#bcbec0;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-width:0px;
	padding-bottom:0px;
	padding-left:5px;
	padding-right:5px;
	padding-top:0px;
	vertical-align:middle;
}
td.حدود-رفيعة {
	border-bottom-color:#006991;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#006991;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#006991;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#006991;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
td.حدود-مزدوجة {
	border-bottom-color:#006991;
	border-bottom-style:double;
	border-bottom-width:2px;
	border-left-color:#006991;
	border-left-style:double;
	border-left-width:2px;
	border-right-color:#006991;
	border-right-style:double;
	border-right-width:2px;
	border-top-color:#006991;
	border-top-style:double;
	border-top-width:2px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
th.خلية-مظللة, td.خلية-مظللة {
	background-color:#e7f1f6;
	border-bottom-color:#006991;
	border-bottom-width:1px;
	border-left-color:#006991;
	border-left-width:1px;
	border-right-color:#006991;
	border-right-width:1px;
	border-top-color:#006991;
	border-top-width:1px;
	vertical-align:middle;
}
p.No-Spacing {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:8px;
	margin-left:4px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:0.9;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:28px;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Adobe Arabic", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_TOC_عنوان-مستوى-1 {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.462;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_TOC_عنوان-مستوى-2 {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.583;
	margin-bottom:0;
	margin-left:0;
	margin-right:28px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_TOC_عنوان-مستوى-3 {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.583;
	margin-bottom:0;
	margin-left:0;
	margin-right:57px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_اقسام-تفاعلية_التقويم-الذاتي {
	color:#006991;
	font-family:"Yakout Linotype", serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.357;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:11px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_اقسام-تفاعلية_تدريب {
	color:#006991;
	font-family:"Yakout Linotype", serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.357;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:11px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_اقسام-تفاعلية_نشاط {
	color:#006991;
	font-family:"Yakout Linotype", serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.357;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:11px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_تنقيط-وترقيم_ترقيم-تلقائي-- {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.462;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:0;
	margin-right:28px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_تنقيط-وترقيم_تنقيط-- {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.462;
	list-style-position:outside;
	margin-bottom:0;
	margin-left:0;
	margin-right:28px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_تنقيط-وترقيم_تنقيط-• {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.462;
	list-style-position:outside;
	margin-bottom:0;
	margin-left:0;
	margin-right:28px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_تنقيط-وترقيم_عناوين_ترقيم-عنوان-فقرة-- {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.462;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:6px;
	margin-left:0;
	margin-right:28px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_جداول_جدول-بيانات {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.462;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_جداول_نص-في-خلية {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_رقم-التبويب {
	color:#006991;
	font-family:"Yakout Linotype", serif;
	font-size:48px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_عنوان-اقسام-تفاعلية {
	color:#006991;
	font-family:"Yakout Linotype", serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.357;
	margin-bottom:11px;
	margin-left:0;
	margin-right:0;
	margin-top:18px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_عنوان-التبويب {
	color:#006991;
	font-family:"Yakout Linotype", serif;
	font-size:26px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_عنوان-مستوى-1 {
	background-color:#006991;
	color:#ffffff;
	font-family:"Yakout Linotype", serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.267;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:10px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_عنوان-مستوى-2 {
	color:#006991;
	font-family:"Yakout Linotype", serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.357;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:9px;
	margin-left:0;
	margin-right:28px;
	margin-top:9px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_عنوان-مستوى-3 {
	color:#006991;
	font-family:"Yakout Linotype", serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.357;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:3px;
	margin-left:0;
	margin-right:57px;
	margin-top:3px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_للمراجع_نص-عام {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.QOU-Books_نص-سميك {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.462;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:right;
	text-decoration:none;
	text-indent:28px;
	text-transform:none;
	widows:1;
}
p.QOU-Books_نص-عام {
	color:#000000;
	font-family:"Yakout Linotype", serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.462;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:right;
	text-decoration:none;
	text-indent:28px;
	text-transform:none;
	widows:1;
}
span.Annotation-reference {
	font-size:8px;
}
span.QOU-Books_حجم-الترقيم {
	font-size:15px;
}
span.QOU-Books_حجم-التنقيط {
	font-size:10px;
}
span.QOU-Books_نص-عريض-ملون {
	color:#006991;
	font-family:"Yakout Linotype", serif;
	font-style:normal;
	font-weight:bold;
}
table.TableOverride-1 {
	border-collapse:collapse;
	border-width:1px;
	margin-left:auto;
}
td.CellOverride-1 {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-width:0px;
	vertical-align:middle;
}
td.CellOverride-2 {
	background-color:#bcbec0;
	border-bottom-width:0px;
	border-right-width:0px;
	border-top-width:0px;
	padding-bottom:0px;
	padding-left:5px;
	padding-right:5px;
	padding-top:0px;
	vertical-align:middle;
}
td.CellOverride-3 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:1px;
}
td.CellOverride-4 {
	border-bottom-color:#323edd;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#323edd;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#323edd;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#323edd;
	border-top-style:solid;
	border-top-width:1px;
	vertical-align:top;
}
td.CellOverride-5 {
	border-bottom-color:#323edd;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#323edd;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#323edd;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#323edd;
	border-top-style:solid;
	border-top-width:1px;
	vertical-align:middle;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	margin-bottom:3px;
	text-align:center;
}
p.ParaOverride-3 {
	margin-right:28px;
}
p.ParaOverride-4 {
	text-align:left;
}
p.ParaOverride-5 {
	list-style-position:inside;
	list-style-type:none;
	text-indent:0;
}
p.ParaOverride-6 {
	list-style-type:none;
}
p.ParaOverride-7 {
	text-indent:0;
}
p.ParaOverride-8 {
	margin-top:9px;
}
p.ParaOverride-9 {
	margin-top:6px;
}
p.ParaOverride-10 {
	list-style-position:outside;
	list-style-type:none;
	text-indent:-28px;
}
p.ParaOverride-11 {
	text-align:justify;
	text-align-last:left;
}
span.CharOverride-1 {
	color:#006991;
	font-size:18px;
}
span.CharOverride-2 {
	color:#323edd;
}
span.CharOverride-3 {
	color:#323edd;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	color:#323edd;
	font-size:16px;
}
span.CharOverride-5 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	font-size:16px;
}
span.CharOverride-7 {
	color:#ff0000;
}
span.CharOverride-8 {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-9 {
	color:#156082;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-10 {
	color:#323edd;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-11 {
	font-size:16px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-12 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	font-size:14px;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
td._idGenCellOverride-1 {
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
}
td._idGenCellOverride-2 {
	border-bottom-color:#006991;
	border-bottom-style:double;
	border-bottom-width:2px;
	border-left-color:#006991;
	border-left-style:double;
	border-left-width:2px;
	border-right-color:#006991;
	border-right-style:double;
	border-right-width:2px;
	border-top-color:#006991;
	border-top-style:double;
	border-top-width:2px;
}
td._idGenCellOverride-3 {
	border-left-color:#006991;
	border-left-style:double;
	border-left-width:2px;
}
col._idGenTableRowColumn-1 {
	width:108px;
}
col._idGenTableRowColumn-2 {
	width:186px;
}
tr._idGenTableRowColumn-3 {
	min-height:151px;
}
col._idGenTableRowColumn-4 {
	width:300px;
}
col._idGenTableRowColumn-5 {
	width:69px;
}
tr._idGenTableRowColumn-6 {
	min-height:21px;
}
col._idGenTableRowColumn-7 {
	width:319px;
}
col._idGenTableRowColumn-8 {
	width:66px;
}
tr._idGenTableRowColumn-9 {
	min-height:73px;
}
col._idGenTableRowColumn-10 {
	width:386px;
}
tr._idGenTableRowColumn-11 {
	min-height:150px;
}
tr._idGenTableRowColumn-12 {
	min-height:187px;
}
col._idGenTableRowColumn-13 {
	width:384px;
}
tr._idGenTableRowColumn-14 {
	min-height:145px;
}
tr._idGenTableRowColumn-15 {
	min-height:70px;
}
col._idGenTableRowColumn-16 {
	width:76px;
}
col._idGenTableRowColumn-17 {
	width:308px;
}
tr._idGenTableRowColumn-18 {
	min-height:71px;
}
col._idGenTableRowColumn-19 {
	width:75px;
}
col._idGenTableRowColumn-20 {
	width:310px;
}
col._idGenTableRowColumn-21 {
	width:74px;
}
col._idGenTableRowColumn-22 {
	width:311px;
}
tr._idGenTableRowColumn-23 {
	min-height:69px;
}
col._idGenTableRowColumn-24 {
	width:383px;
}
tr._idGenTableRowColumn-25 {
	min-height:140px;
}
tr._idGenTableRowColumn-26 {
	min-height:72px;
}
col._idGenTableRowColumn-27 {
	width:385px;
}
tr._idGenTableRowColumn-28 {
	min-height:38px;
}
col._idGenTableRowColumn-29 {
	width:382px;
}
tr._idGenTableRowColumn-30 {
	min-height:51px;
}
tr._idGenTableRowColumn-31 {
	min-height:52px;
}
tr._idGenTableRowColumn-32 {
	min-height:127px;
}
tr._idGenTableRowColumn-33 {
	min-height:35px;
}
col._idGenTableRowColumn-34 {
	width:199px;
}
col._idGenTableRowColumn-35 {
	width:184px;
}
tr._idGenTableRowColumn-36 {
	min-height:26px;
}
tr._idGenTableRowColumn-37 {
	min-height:20px;
}
tr._idGenTableRowColumn-38 {
	min-height:43px;
}
tr._idGenTableRowColumn-39 {
	min-height:39px;
}
tr._idGenTableRowColumn-40 {
	min-height:22px;
}
tr._idGenTableRowColumn-41 {
	min-height:55px;
}
tr._idGenTableRowColumn-42 {
	min-height:61px;
}
tr._idGenTableRowColumn-43 {
	min-height:74px;
}
tr._idGenTableRowColumn-44 {
	min-height:48px;
}
tr._idGenTableRowColumn-45 {
	min-height:32px;
}
tr._idGenTableRowColumn-46 {
	min-height:537px;
}
tr._idGenTableRowColumn-47 {
	min-height:594px;
}
tr._idGenTableRowColumn-48 {
	min-height:98px;
}
tr._idGenTableRowColumn-49 {
	min-height:36px;
}
col._idGenTableRowColumn-50 {
	width:208px;
}
col._idGenTableRowColumn-51 {
	width:175px;
}
tr._idGenTableRowColumn-52 {
	min-height:25px;
}
tr._idGenTableRowColumn-53 {
	min-height:42px;
}
tr._idGenTableRowColumn-54 {
	min-height:17px;
}
col._idGenTableRowColumn-55 {
	width:152px;
}
col._idGenTableRowColumn-56 {
	width:231px;
}
tr._idGenTableRowColumn-57 {
	min-height:19px;
}
tr._idGenTableRowColumn-58 {
	min-height:41px;
}
table._idGenTablePara-1 {
	margin-left:auto;
	margin-right:auto;
}
table._idGenTablePara-2 {
	margin-left:auto;
}
table._idGenTablePara-3 {
	margin-left:4px;
}
#_idContainer014, #_idContainer015, #_idContainer018, #_idContainer019, #_idContainer020, #_idContainer021, #_idContainer022, #_idContainer025, #_idContainer027 {
	display:inline-block;
	height:28px;
	width:28px;
}
#_idContainer016, #_idContainer023, #_idContainer026 {
	display:inline-block;
	height:24px;
	width:28px;
}
#_idContainer024 {
	display:inline-block;
	width:33px;
}
img._idGenObjectAttribute-1 {
	height:66px;
	width:44px;
}
img._idGenObjectAttribute-2 {
	height:275px;
	width:368px;
}
img._idGenObjectAttribute-3 {
	height:187px;
	width:255px;
}
img._idGenObjectAttribute-4 {
	height:64px;
	width:59px;
}
img._idGenObjectAttribute-5 {
	height:67px;
	width:59px;
}
img._idGenObjectAttribute-6 {
	height:64px;
	width:51px;
}
img._idGenObjectAttribute-7 {
	height:25px;
	width:43px;
}
img._idGenObjectAttribute-8 {
	height:65px;
	width:50px;
}
img._idGenObjectAttribute-9 {
	height:63px;
	width:63px;
}
img._idGenObjectAttribute-10 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:left;
}
